{
  "CN": "CA",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "L": "Shanghai",
      "ST": "Shanghai"
    }
  ],
  "ca": {
    "expiry": "{{ CA_EXPIRY }}"
  }
}